h1{
    color: red;
    background-color: blueviolet;
    text-align: center;

}
p{
    color: hotpink;
    text-align: center;
}
img{
    height: 500px;
    width: 50%;
    
}
.blog{
    background-color: red;
    color: white;
    text-align: center;
    margin: 10px 20px;
}